.outerdiv {
  width: 100%;
  background-color: azure;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}
.logo {
  width: 200px;
  height: auto;
  align-self: flex-end;
}

.list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: antiquewhite;
}

.words {
  max-width: 40%;
  background-color: wheat;
  padding-left: 5%;
  padding-right: 5%;
}
.pictures {
  max-width: 30%;
  text-align: center;
  background-color: aliceblue;
}

.pictures img {
  width: 200px;
  height: auto;
}

.footer {
  background-color: aliceblue;
}
body {
  background-color: black;
}